/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require dropzone
 *= require_tree .
 *= require_self
 */

.article_element{
  background-color: #e7e7e7;
  padding:10px;
  margin-bottom:15px;
}

.container{

}

.glyphicon:before{
  padding-right: 5px;
}

.nav > li > a{
  padding: 10px 8px;
}

#header{
  z-index:-1;
  height:300px;
  margin-top:-20px;
  margin-bottom: 0px;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  overflow-y: scroll;
  background-size: cover;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover; /* Mozilla*/
  -o-background-size: cover; /* Opera*/
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/background.jpg',     sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/background.jpg', sizingMethod='scale');
}

@media (max-width: 600px){
  #header{
    height:200px;
  }
}


.page-header{
  margin-top: 10px;
}

.article_divider{
  border-top:1px solid lightgrey;
  margin: 10px 10px 3px 0;
}

.add-comment{
  display:none;
}

#discussion-index.stick {
  .page-header{
    margin: 5px 0;
    padding:0;
  }
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 5px;
    // padding: 0.5ex;
    // width: 600px;
    // background-color: #333;
    // color: #fff;
    // font-size: 2em;
    // border-radius: 0.5ex;

}

#discussion-show.stick{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  h1{
    font-size: 24px;
  }
  .add-comment{
    display: inline-block;
  }
}

.sticky.stick {
    margin-top: 50px !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}